@{
    ViewData["Title"] = "Home Page";
}

<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2 class="text center">Welcome to WalletPlus Inc.</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>welcome page</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-sm-8">
                    <div class="title-action">
                        <a  asp-controller="Customers"  asp-action="Index"  class="btn btn-primary">Customers</a>
                    </div>
                </div>
            </div>

            <div>
                <h1 class="text-center"> WalletPlus Inc Smart Wallet</h1>
            </div>

            <div class="wrapper wrapper-content ">
                <div class="middle-box text-center animated fadeInRightBig bg-info">
                    <h3 class="font-bold">What we do...</h3>
                    <div class="error-desc">
                        WalletPlus Inc. is a company with over 1 million customers. Their platform empowers their
                        customers to use their e-Wallet to do various type of transactions.
                        <br/><a href="index.html" class="btn btn-primary m-t">Dashboard</a>
                    </div>
                </div>
            </div>